<div class="card">
    <div class="card-header">
    <img src="https://www.letelegramme.fr/images/2021/12/23/les-jeux-de-societe-gagnent-des-adeptes-parmi-les-adultes_6083574.jpg" alt="rover" />
    </div>
    <div class="card-body"> 
    <h1>
        {{name}}
    </h1>
    <img src="../../assets/{{type}}.png" height="30px" width="30px"/>
    <br/>
    <h2>
        Au {{rue}}, {{ville}} {{cp}}
        <br/>
        Le {{date}} à {{hour}}
    </h2>
    <p>
        {{desc}}
    </p>
    <div class="user">
        <div class="user-info">
        <h4>Organisé par : {{ orga }}</h4>
        </div>
    </div>
    <div class="control">
        <button class="btn">
       <span class="participe" (click)="participer()">Je participe</span>
     </button>
    </div>	
    </div>
</div>