
<div class="container">
    <div class="form">
        <h2>Lieu</h2>
        <form>
            <div class="inputBox">
                <input type="button" (click)="geolocation()" value="Position actuelle" />
            </div>
            <div class="inputBox">
                <input type="text" name="name" placeholder="Rue" [(ngModel)]="rue" />
            </div>
            <br/>
            <div class="inputBox">
                <input type="text" name="address" placeholder="Ville" [(ngModel)]="ville" />
            </div>
            <br>
            <div class="inputBox">
                <input type="text" name="type" placeholder="Code Postal" [(ngModel)]="cp" />
            </div>
            <br>
            <div class="inputBox">
                <input type="submit" (click)="addEvent()" value="Ajouter" />
            </div>
            <br>
        </form>
        <p>{{add}}</p>
    </div>