<div class="card">
    <div class="card-header">
    <img src="https://www.letelegramme.fr/images/2021/12/23/les-jeux-de-societe-gagnent-des-adeptes-parmi-les-adultes_6083574.jpg" alt="rover" />
    </div>
    <div class="card-body"> 
    <h1>
        Conditions de participation
    </h1>
    <br/>
    <p>
        En participant à cet évènement, vous vous engagez à respecter certaines règles telles que :
        <br/>-Respect de l'intégrité de l'hôte ainsi que de l'ensemble des personnes présentes à l'évènement
        <br/>-Respect du lieu et du matériel fourni lors de l'évènement
        <br/>-Ponctualité
    </p> 
    <div class="user">
        <div class="user-info">
        <h4>Contacter l'organisateur : {{ tel }}</h4>
        </div>
    </div>
    <div class="control">
        <button class="btn">
       <span class="participe" (click)="accepter()">Accepter</span>
     </button>
    </div>	
    <h2>{{asked}}</h2>
    </div>
</div>