.map-container {
  position: relative;
  justify-content: center;
  width: 400px;
  height: 600px;
  margin-left: -15px;
}

.map-frame {
  border: 1px solid black;
  height: 100%;
}

#map {
  height: 100%;
}