.map-container {
  background-color: aqua;
  position: relative;
  justify-content: center;
  width: 400px;
  height: 590px;
  margin-left: -15px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}