
            <div class="container">
                <div class="form">
                    <h2>Login Form</h2>
                    <form>
                        <div class="inputBox">
                            <input type="text" name="name" placeholder="Nom de l'évènement" [(ngModel)]="name" />
                        </div>
                        <br/>
                        <div class="inputBox">
                            <input type="text" name="address" placeholder="Lieu de l'évènement" [(ngModel)]="address" />
                      </div>
                      <br>
                      <div class="inputBox">
                        <input type="text" name="type" placeholder="Type de l'évènement" [(ngModel)]="type" />
                    </div>
                    <br>
                    <div class="inputBox">
                        <input type="text" name="nb" placeholder="Nombre d'invités" [(ngModel)]="nb" />
                  </div>
                  <br>
                        <div class="inputBox">
                            <input type="submit" (click)="addEvent()" value="Ajouter" />
                        </div>
                        <br>
                    </form>
                    <p *ngFor="let event of evtService.events">{{event.nom}}</p>
                </div>