form {
    text-align: center;
    margin-top: 40px;
}

.input {
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    padding: 4px 20px 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  
.input {
    
}

.txt {
    margin: 10px;
}