
<div class="container">
    <div class="form">
    <h2>Ajoute un évènement</h2>
    <form>
    <!--
       Icones Animaux friendly, tabac, accessibilité
       -->
       <div class="inputBox">
       <input type="text" name="name" placeholder="Titre" [(ngModel)]="name" />
       </div>
       <div class="inputBox">
       <select name="type" id="type" [(ngModel)]="type">
       <option disabled value="">Thème</option>
       <option value="ambiance">Jeux d'ambiance</option>
       <option value="aventure">Jeux d'aventure</option>
       <option value="carte">Jeux de cartes</option>
       <option value="cerveau">Jeux de connaissances</option>
       <option value="chance">Jeux de hasard</option>
       <option value="cooperation">Jeux coopératifs</option>
       <option value="duel">Jeux d'affrontement</option>
       <option value="de">Jeux de dés</option>
       <option value="enquete">Jeux d'enquête</option>
       <option value="loup">Loup-garou</option>
       <option value="role">Jeux de rôle</option>
       <option value="strategie">Jeux de stratégie</option>
       </select>
       </div>
       <div style="display: flex; justify-content: space-around;">
       <div class="inputNb">
       <p>Date</p><input type="date" name="date" [(ngModel)]="date" />
       </div>
       <div class="inputNb">
       <p>Heure</p><input type="time" name="hour" [(ngModel)]="hour" />
       </div>
       </div>
       <div class="inputBox">
       <textarea name="desc" placeholder="Description" rows="5" maxlength="320" [(ngModel)]="desc"></textarea>
       </div>
       <div style="display: flex; justify-content: space-around;">
       <div class="inputNb">
       <p>Participants</p><input type="number" name="nb" placeholder=1 min="1" max="20" [(ngModel)]="nb" />
       </div>
       <div class="inputNb">
       <p>Age minimum</p><input type="number" name="age" placeholder=1 min="3" max="18" [(ngModel)]="age" />
       </div>
       </div>
       <br>
       <div class="inputBox">
       <input (click)="next()" type="submit" value="Continuer" />
       </div>
       <br>
       </form>
    </div>
</div>
       