        <div class="box">

            <div class="container">
                <div class="form">
                    <h2>Connexion</h2>
                    <form>
                        <div class="inputBox">
                            <input type="text" placeholder="Nom d'utilisateur">
                        </div>
                        <br>
                        <div class="inputBox">
                            <input type="password" placeholder="Mot de passe">
                        </div>
                        <br>
                        <div class="inputBox">
                            <input type="submit" (click)="login()" value="Connexion">
                        </div>
                    
                        <p class="forget">Mot de passe oublié ? <a (click)="login()">Clique ici</a></p>
                        <p class="forget">Pas encore de compte ? <a (click)="create()">Inscris-toi !</a></p>
                    </form>
                </div>
            </div>
        </div>
