        <div class="box">

            <div class="container">
                <div class="form">
                    <h2>Connexion</h2>
                    <form>
                        <div class="inputBox">
                            <input type="text" placeholder="Username">
                        </div>
                        <br>
                        <div class="inputBox">
                            <input type="password" placeholder="Password">
                        </div>
                        <br>
                        <div class="inputBox">
                            <a (click)="login()"><input type="submit" value="Connexion"></a>
                        </div>
                    
                        <p class="forget">Mot de passe oublié ?<a (click)="login()">Clique ici</a></p>
                        <p class="forget">Pas encore de compte ?<a (click)="create()">Inscris-toi !</a></p>
                    </form>
                </div>
            </div>
        </div>
