img {
    width: 200px;
    height: 200px;
}

.container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    width: 400px;
    height: 600px;
}