<div class="card">
    <div class="card-header">
        <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" />
        <div class="user">
            <img src="https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg" />
        </div>
    </div>
    <div class="card-body"> 
        <span class="tag tag-teal">Profil</span>
        <br/>
        <h1>
            {{name}}
        </h1>
        <h2>
            {{tel}}
        </h2>
    <br/>
    <br/>
    <br/>
    <div class="control">
        <button class="btn">
       <span class="participe">Ajouter</span>
     </button>
    </div>	
    </div>
</div>