<div class="card">
    <div class="card-header">
    <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
    </div>
    <div class="card-body"> 
        <div class="user">
            <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
        </div>
    <h1>
        {{name}}
    </h1>
    <h1>
        {{phone}}
    </h1>
    <span class="tag tag-teal">Profil</span>
    <br/>
    <br/>
    <br/>
    <div class="control">
        <button class="btn">
       <span class="participe">Ajouter</span>
     </button>
    </div>	
    </div>
</div>