@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 1em auto;
	height: 100px;
}

.info {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 15px;
	height: 100%;
	float: left;
	width: 60%;
}

#container .info h1{
	font-family: 'Farsan', cursive;
	display: inline-block;
	position: relative;
	font-size: 20px;
	color: #000000;
	margin: 0;
}

#container .info > p {
    font-family: 'Farsan', cursive;
	font-size: 14px;
	color: #000000;
    margin: 0;
}

.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #469DDE;
	border-radius: 20px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;	
}

.btn:hover{transform: translateY(-1px);
	background: #efd229;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
    padding: 10px 20px;
	margin:0;
}

.btn .participe {z-index: 3; font-weight: bolder;}

.control {
	display: flex;
	position: relative;
	height: 100%;
	width: 40%;
    justify-content: center;
    align-items: center;
}