<p>Recherche</p>
<form>
    <input type="text" id="searchtxt" name="searchtxt" [(ngModel)]="searchText" />
    <button (click)="search(searchText)">Ok</button>
</form>
<button (click)="searchEvent()">Evènement</button><br/>
<button (click)="searchPeople()">Personne</button>
<div *ngIf="type=='event'"><p *ngFor="let event of evtService.events;let i = index"><app-event-item index={{i}} name="{{event.name}}" address="{{event.address}}" type="{{event.type}}"></app-event-item></p>
</div>
<div *ngIf="type=='profile'"><p *ngFor="let profile of profileService.profiles;let i = index"><app-profile-item index={{i}} name="{{profile.name}}"></app-profile-item></p>
</div>
