<div class="contain">
    <div class="form">
        <h2>Les derniers évènements</h2>
    </div>
    <div class="list">
        <ng-container *ngFor="let event of evtService.events;let i = index">
            <app-event-item index={{i}} name="{{event.name}}" type="{{event.type}}" rue="{{event.rue}}" ville="{{event.ville}}" cp="{{event.cp}}" date="{{event.date}}" hour="{{event.hour}}"></app-event-item>
        </ng-container>
    </div>
</div>
<br/>
<div class="contain">
    <div class="form">
        <h2>Jeux du moment</h2>
    </div>
    <div class="list2">
        <ng-container *ngFor="let jeu of jeux;let i = index">
          <app-jeu-item index={{i}} name="{{jeu.name}}"></app-jeu-item>
      </ng-container>
    </div>
</div>
