<div class="card">
    <div class="card-header">
    <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" />
    <div class="user">
        <img src="https://media.istockphoto.com/id/910856488/photo/beautiful-african-american-female-model.jpg?s=612x612&w=0&k=20&c=zPxhqB08kcPpMmYKmTkHtkxZ2naIk-BB_IJbhJNgDSk=" />
    </div>
    </div>
    <div class="card-body"> 
    <span class="tag tag-teal">Mon Profil</span>
    <br/>
    <br/>
    <br/>
    <div class="control">
        <button class="btn">
       <span class="participe">Modifier mon profil</span>
     </button>
    </div>
    </div>
</div>